﻿@{
    ViewBag.Title = "PostIT";   
}

<div class="jumbotron">
    <h1 style="color:red">PostIT</h1>
    <p class="lead">PostIt kullanici ile interaktif bir sekilde iletisim kuran bir blog sitesidir.</p>
    <p><a href="" class="btn btn-primary btn-lg">Hemen Kayit Ol &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kontrol Edilen Paylasimlar</h2>
        <p>
            PostIt'de yapacaginiz her paylasim sistemde yetkili kisiler tarafindan kontrol edilir.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>